.link-nav,
.link-contact {
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.link-footer,
.address {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.svg#Raleway") format("svg");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
}

.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  background-color: #2196f3;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.button-footer {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 29px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #2196f3;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-icon {
  margin-left: 10px;
  fill: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  color: #e5e5e5;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.content {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

h2,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.contact .link-contact {
  color: #757575;
}

.logo,
.active,
.link-nav:hover,
.link-nav:focus,
.link-contact:hover,
.link-contact:focus,
.link-footer:hover,
.link-footer:focus {
  color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer,
.address {
  color: #ffffff;
}

.logo-header {
  color: black;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.38;
  }
}

.container-input {
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .container-input {
    margin-left: 93px;
    padding-top: 72px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .form-field-footer {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .form-field-footer {
    display: flex;
  }
}

.form-input-footer {
  margin: 0;
  margin-right: 12px;
  padding: 15px 0 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .form-input-footer {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-input-footer {
    display: block;
    width: 450px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.social-icons-link:hover, .social-icons-link:focus {
  background-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .for-adaptive {
    display: flex;
    max-width: 480px;
    max-height: 60px;
    justify-content: space-between;
    flex-grow: 1;
    border-bottom: 1px solid #ececec;
  }
  .for-adaptive .logo {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .for-adaptive {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .for-adaptive .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media (min-width: 1200px) {
  .for-adaptive {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-container {
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
  }
}

.menu-container.is-open {
  display: block;
}

@media (min-width: 1200px) {
  .menu-container {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: 1200px) {
  .navigation {
    margin-right: 305px;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: inline-flex;
  }
}

@media screen and (max-width: 767px) {
  .menu-item {
    text-align: center;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .menu-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 12px;
    line-height: 1.166;
  }
}

@media (min-width: 1200px) {
  .contact {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .link-contact:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .link-contact:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .link-contact:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .link-contact {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .link-contact {
    display: flex;
    font-size: 12px;
    line-height: 1.166;
  }
}

@media (min-width: 1200px) {
  .link-contact {
    display: inline-flex;
  }
}

.contact-icons-svg {
  margin-right: 8px;
  vertical-align: middle;
  fill: #757575;
}

@media screen and (min-width: 768px) {
  .contact-icons-svg {
    display: block;
  }
}

.link-contact:hover,
.link-contact:focus,
.menu-button:hover,
.menu-button:focus {
  color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact:hover .contact-icons-svg,
.link-contact:focus .contact-icons-svg,
.menu-button:hover .menu-btn-svg,
.menu-button:focus .menu-btn-svg {
  fill: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .link-nav {
    position: relative;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .link-nav {
    position: relative;
    display: inline-block;
  }
}

.link-nav:hover::after,
.link-nav:focus::after,
.active::after {
  position: absolute;
  content: '';
  display: block;
  margin-top: 28px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .link-nav:hover::after,
  .link-nav:focus::after,
  .active::after {
    position: absolute;
    margin-top: 8px;
  }
}

.menu-btn-svg {
  width: 24px;
  height: 16px;
}

.menu-button {
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-header-lines {
  display: none;
}

.menu-button.is-open .icon-header-lines {
  display: block;
}

.menu-button.is-open .icon-header-close {
  display: none;
}

.title,
.filters {
  color: #212121;
}

.filters {
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.filters:hover, .filters:focus {
  color: #ffffff;
  background-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .filters-list {
    flex-wrap: wrap;
    justify-content: left;
  }
}

.filters-item {
  color: var(--btn-bg);
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .filters-container {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .filters-container {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .filters-container {
    margin-bottom: 50px;
  }
}

.content-link {
  display: block;
}

.content-link:hover, .content-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media (min-width: 1200px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media (max-width: 767px) {
  .gallery-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.gallery-item {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .gallery-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .gallery-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.container-gallery {
  padding: 20px 24px 20px 24px;
}

.container-gallery .title {
  margin-bottom: 4px;
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  margin: 0;
  padding: 63px 24px;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.content-link:hover .overlay,
.content-link:focus .overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .container-address {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-address {
    margin-top: 60px;
    margin-left: 64px;
  }
}

@media (min-width: 1200px) {
  .container-address {
    padding-top: 60px;
  }
}

@media (min-width: 1200px) {
  .container-footer {
    display: flex;
  }
}

.container-footer .logo {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-adaptive {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .footer-adaptive {
    display: flex;
  }
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list {
  margin-top: 20px;
}

.title-footer {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-icons {
  display: flex;
}

@media screen and (max-width: 767px) {
  .container-social {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-social {
    margin-top: 65px;
    margin-right: 74px;
  }
}

@media (min-width: 1200px) {
  .container-social {
    margin-left: 70px;
    padding-top: 75px;
    padding-bottom: 97px;
  }
}

.container-social .social-icons-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.container-social .social-icons-svg {
  fill: #ffffff;
}

.social-icons-link:hover, .social-icons-link:focus {
  background-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer,
.hero {
  background-color: #2f303a;
}
/*# sourceMappingURL=portfolio.css.map */