.form-modal {
  margin-right: 40px;
  margin-left: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.form-label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  bottom: 11px;

  width: 18px;
  height: 18px;
}

.form-input {
  margin: 0;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  &:hover + .form-icon,
  &:focus + .form-icon {
    fill: $accent-color;
  }

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}
.form-comment {
  outline: none;
  resize: none;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}
.modal-agree {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: $primary-text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  & a {
    color: $accent-color;
    text-decoration: underline;
  }

  & input[type='checkbox'] {
    opacity: 0;
  }

  & label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & label::before {
    content: '';
    width: 16px;
    height: 15px;
    margin-right: 10px;
  }

  & input[type='checkbox']:focus + label::before {
    outline: $accent-color auto 1px;
  }

  & input[type='checkbox'] + label::before {
    background: url('../images/check-before.svg');
  }

  & input[type='checkbox']:checked + label::before {
    background: url('../images/check-after.svg');
  }
}
form .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;

  width: 200px;
  height: 50px;
}
