.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 0.5s ease-in;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: $white;
  transition: transform 0.5s;

  .is-hidden & {
    transform: translate(-50%, 0%) scale(0.5);
    transition: transform 0.5s;
  }
}
.btn-close {
  display: block;
  margin-left: auto;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    fill: $accent-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-close {
  width: 11px;
  height: 11px;
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  margin-top: 2px;
  margin-right: 40px;
  margin-bottom: 12px;
  margin-left: 40px;
}
