.hero {
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-opt.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title,
.button {
  color: $white;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.footer,
.hero {
  background-color: $dark-bg;
}
