.hero {
	height: 600px;
	max-width: 1600px;
	margin-right: auto;
	margin-left: auto;

	@media screen and (min-resolution: 2dppx) and (min-width: 1200px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/desktop/hero@2x.jpg");
	}

	@media screen and (min-width: 1200px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/desktop/hero.jpg");
	}

	@media screen and (min-resolution: 2dppx) and (min-width: 768px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/tablet/hero@2x.jpg");
	}

	@media screen and (min-width: 768px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/tablet/hero.jpg");
	}

	@media screen and (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/mobile/hero@2x.jpg");
	}

	@media screen and (max-width: 767px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/mobile/hero.jpg");
	}

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-title,
.button {
	color: $white;
}

.hero-container {
	padding-top: 118px;
	padding-bottom: 118px;

	text-align: center;

	@include for-size(desktop) {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

.hero-title {
	margin-top: 0;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 1199px) {
		font-size: 26px;
		line-height: 1.62;
	}

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.footer,
.hero {
	background-color: $dark-bg;
}
