.team-section {
  background-color: $team-bg;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  & .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  height: 428px;

  text-align: center;

  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section .team-title {
  margin-bottom: 50px;
}

.team-container {
  margin-top: 30px;

  & .title {
    margin-bottom: 10px;

    text-align: center;
  }

  & .text {
    margin-bottom: 30px;
  }
}
